{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<form method="post" >
  {%csrf_token%}
    <div class="mb-3">
      <label for="">Value1</label>
      <input type="text" name="num1"  >
      
    </div>
    <div class="mb-3">
      <label for="">Value2</label>
      <input type="text" name="num2"  >
      
    </div>
    
    
    <button type="submit">Submit</button>
    

    
      
      <div class="mb-3">
        <label for="">Output</label>
        <input type="text" value="{{output}}">
        {% comment %} it take the logic from the views.py {% endcomment %}
        
      </div>
      
    
</form>


{% endblock %}
